subject: Confirm email address
header: Confirm email address

<table>
	<tbody>
		<tr>
			<td>
				Hello {{=it.user.fullName}},<br>
				<br>
				You have recently changed your email address. To confirm your new email address, please click on the following link:
			</td>
		</tr>
		<tr>
			<td class='cta-container in-between'>
				<a class='cta-button' href="{{=it.confirmationUrl}}">Confirm email address</a>
			</td>
		</tr>
		<tr>
			<td>
				If you have received this email unsolicited, please ignore the above instructions.
			</td>
		</tr>
	</tbody>
</table>
