//extend ../layout-logged-out

block append variables
	- title = __('change_email.page_title')
		
block innerContent
	h4.section-header= __('change_email.page_title')

	p= __('change_email.done')
	br
	a.link(href='/')= __('back_to_login')
